<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/c.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="{{url_for('static',filename='js/jquery-3.3.1.js')}}"></script>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid con">
    <div class="navbar-header">
        <p class="navbar-text dhdbt dh">Helld</p>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li role="separator"><p class="un2"></p></li>
            <li><a class="dhnr" href="/signin">welcome <span id="username">{{ user }}</span></a></li>
            <li><a class="dhnr" href="/signout">sign out</a></li>
        </ul>
    </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div><a class="uti" href="{{ url_for('user',user = user) }}">my information</a></div>
            <div><a class="uti" href="{{ url_for('apima',user = user) }}">api management</a></div>
            <div><a class="uti" href="{{ url_for('datastas',user = user) }}">data statistics</a></div>
            <div><a class="uti" href="{{ url_for('index')}}">return home</a></div>
        </div>
        <div class="col-lg-9 modal-content">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>